#meio_pagina
    .info_sistema
        .div_logo
            =image_tag "logomarca.png", :class => "img_logo"
        %h4 SiSExpress - Sistema de Gerenciamento de Entregas
        
        .div_fornecido
            %h5 Fornecido para SUPERMERCADOS ZONA SUL